body {
    font-family: 'Sherman', sherman sans-serif;
        h1,h2{
            color: navy;
        }
    background-color: #ffffff;
    color: #333;
    h1{font-size: 3em}
    h2{font-size: 1em}
/*header */
    .header-box {
        background-color: #F76900;
        color: white; 
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .header-box img.logo {
        width: 50px; 
        height: auto;
    }
    
    .header-box h1 {
        font-size: 1.5em;
        margin: 0;
    }
}
